.DivContentBody{width:1000px;min-height:420px !important;height:auto;}
.DivContentBodySided{width:500px !important; float:left;height:550px;}
.DivContentBodyContainer{width:800px !important;}
.DivContentBodyContainerValue div{float:left;}
.DivContentBodyContainerSubmitImage{position:relative;left:4px;top:-1px;}
.DivContentBodyContainerValueContent img{position:relative;top:-2px;}
.SelectBirthDateYear{position:relative;left:5px;}
.DivContentBodyContainersBoxLink{width:165px;height:40px;background-color:#f5821f;margin-top:10px;}
.DivContentBodyContainersBoxLink:hover{background-color:#ef4e22;}
.DivContentBodyContainersBoxLink a{color:white;font-size:14px;text-decoration:none;}
.DivContentBodyContainersBoxLink a span{width:auto;display:block;color:white;font-size:12px;font-weight:bolder;text-align:center;position:relative;top:14px;}
.DivReturnMessageWarning a{left:0px !important;top:0px !important;}
.DivContentBody form{min-height:0px;}