.InputSmall{width:40px !important;margin-left:20px;}
.DivReturnMessageSuccess{width:930px !important;}
.SelectCorporation{width:250px !important;color:black !important;}
.DivContentBodySided{width:500px !important; float:left;}
.TableGenericThLeft{width:60% !important;}