.DivContentBodySection{width:1000px;height:auto;min-height:90px;}
.DivContentBodySectionTitle{width:800px;height:auto;margin-bottom:5px;position:relative;left:7%;}
.DivContentBodySectionTitleText{width:auto;height:16px;}
.DivContentBodySectionTitleText h2{height:16px;color:#f5821f;font-family:sans-serif;font-size:16px;font-weight:bold;text-decoration:none;text-shadow: none;}
.DivContentBodySectionTitleTextLanguage{width:auto;height:16px;}
.DivContentBodySectionTitleTextLanguage h2{height:16px;color:#ef4e22;font-family:sans-serif;font-size:16px;font-weight:bold;text-decoration:none;text-shadow: none;}
.DivContentBodySectionTitleLine{width:100%;height:3px;background-color:#f4780b;}
.DivContentBodySectionTitleLineLanguage{width:100%;height:3px;background-color:#ef4e22;}
.DivContentBodySummary{width:800px;height:30px;position:relative;top:10px;left:15%;}
.DivContentBodySummaryTitle{width:auto;height:auto;float:left;min-width:150px;}
.DivContentBodySummaryTitleLanguage{width:160px;height:auto;float:left;margin-left:26%;}
.DivContentBodySummaryValue{width:200px;height:auto;float:left;}
.DivContentBodySummaryValue label{position:relative;top:1.5px;}
.DivContentBodyInfo{width:800px;height:100px;}
.DivContentBodyInfoField{width:800px;height:30px;}
.DivContentBodyInfoFieldTitle{width:200px;height:auto;float:left;}
.DivContentBodyInfoFieldTitle label, .DivContentBodySummaryTitle Label, .DivContentBodySummaryTitleLanguage label{font-size:14px;font-weight:bold;}
.DivContentBodyInfoFieldValue{width:200px;height:auto;float:left;}
.TableTechInfo{width:800px;height:auto;margin-top:10px;margin-bottom:20px;margin-left:7%;}
.TableTechInfo th, .TableTechInfo th div{width:150px;color:black;font-size:14px;text-align:center;border-bottom:3px solid #192650;border:2px solid #192650;background-color:#f5821f;}
.TableTechInfo th{width:266px;height:35px;}
.TableTechInfo th div{width:120px;height:26px;border:none;position:relative;top:6px;}
.TableTechInfo td{width:150px;height:26px;color:black;font-size:14px;text-align:left;border:2px solid #192650;background-color:#e8e8e8;}