.TdLink input{outline-width:0;border:none;outline:none;border-radius:0;background:none;width:auto;text-decoration:underline;color:#0000EE;}
.TdLink input{outline-width:0;border:none;outline:none;border-radius:0;background:none;width:auto;text-decoration:underline;color:#0000EE;}
.DivContentBodySided{width:500px !important; float:left;}
.DivContentBodyContainerLabel{width:180px !important;}