.DivContentBodyOptionsBox{margin-left:15% !important;}
.DivContentBodyContainerTextArea{height:110px !important;margin-top:0px !important;}
.DivContentBodyContainerTextArea textarea{width:350px !important;height:100px !important;}