.DivContentBody{width:100%;max-width:1000px;height:auto;}
.DivContentBody form{min-height:0px !important;}
.DivContentBodyContainer{width:600px;height:35px;margin-top:20px;}
.DivContentBodyContainer input[type="text"]{width:180px;height:25px;margin-right:10px;float:left;line-height:26px;}
.DivContentBodyContainer input[type="radio"]{width:20px;height:15px;float:left;position:relative;top:8px;}
.DivContentBodyContainerSelect{width:100px;height:30px;float:left;}
.DivContentBodyContainerSelect select{width:90px;height:30px;font-size:14px;font-weight:bold;}
.DivContentBodyContainerSelectLarger{width:110px;}
.DivContentBodyContainerSelectLarger select{width:100px;}
.DivContentBodyContainerLabel{width:105px;height:30px;float:left;}
.DivContentBodyContainerLabelSmall{width:70px;height:30px;float:left;}
.DivContentBodyContainerLabelSmallPort{width:40px;height:30px;float:left;}
.DivContentBodyContainerLabelBig{width:135px;height:30px;float:left;}
.DivContentBodyContainerLabelHost{width:80px;height:30px;float:left;}
.DivContentBodyContainerLabelIp{width:120px;height:30px;float:left;}
.DivContentBodyContainerLabel label, .DivContentBodyContainerLabelSmall label, .DivContentBodyContainerLabelBig label, .DivContentBodyContainerLabelHost label, .DivContentBodyContainerLabelIp label, .DivContentBodyContainerLabelSmallPort label
{position:relative;top:7px;font-size:14px;font-weight:bold;}
.DivContentBodySubmit {width: 120px;height:30px;background-color:#f5821f;border:0;color:white;font-size:14px;margin-left:0px !important;}
.DivContentBodySubmit:hover{background-color:#ef4e22;}
.DivReturnMessageSuccess{width:594px !important;;height:auto;min-height:80px;margin-top:10px;background-color:#f5f5f5;border-left:1px solid #e8e8e8;border-left-width:6px;margin-bottom:0px !important;margin-left:0px !important;}
.DivReturnMessageSuccess div{width:auto !important;max-width:570px;width:570px;height:auto;word-wrap:break-word;color:#000;}
.DivReturnMessageSuccess label{width:auto;height:auto;position:relative;left:10px;top:8px;}
.DivReturnMessageSuccess label div{color:#000}
.DivReturnMessageSuccessBottom{width:594px;height:16px;margin-bottom:10px;background-color:#f5f5f5;border-left:1px solid #e8e8e8;border-left-width:6px;}
.DivReturnMessageError{width:600px;height:auto;min-height:80px;margin-top:10px;background-color:#FFC1C1;border-color:#c82100;color:#c82100;margin-bottom:0px !important;margin-left:0px !important;}
.DivReturnMessageError div{width:auto !important;max-width:570px;width:570px;min-height:80px !important;height:auto;word-wrap:break-word;}
.DivReturnMessageErrorBottom{width:600px;height:16px;margin-bottom:10px;background-color:#FFC1C1;}
.DivReturnMessageError label{width:auto;height:auto;position:relative;left:10px;top:8px;}
.DivReturnMessageWarning a{left:0px !important;top:0px !important;margin-bottom:0px !important;}
.InputTextMedium{width:135px !important;padding-left:0px !important; margin-right: 4px !important;}
.InputSmall{width:40px !important;}
.DivReturnForm{width:600px !important;}
.DivReturnForm div{float:none !important;}
.DivContentBodyContainer input[type="text"]{height:30px !important;}