.DivBody{max-width:320px !important;}
.DivFooterContent{max-width:320px !important;}
.DivContentBody{width:auto;min-height:360px;}
.DivContentBodyContainers{width:auto;min-width:290px;min-height:360px;margin-top:30px;}
.DivContentBodyContainersBox{min-width:250px;max-width:250px;min-height:135px;max-height:160px;margin:0 auto;margin-bottom:30px;}
.DivContentBodyContainersBoxIcon{min-width:48px;max-width:48px;min-height:48px;margin:0 auto;position:relative;}
.DivContentBodyContainersBoxText{min-width:230px;max-width:230px;min-height:80px;margin:0 auto;position:relative;}
.DivContentBodyContainersBoxText1{max-width:230px;min-width:180px;max-height:20px;margin:0 auto;text-align:center;}
.DivContentBodyContainersBoxText2{max-width:210px;min-width:180px;max-height:20px;margin:0 auto;text-align:center;}
.DivContentBodyContainersBoxText3{max-width:190px;min-width:180px;max-height:20px;margin:0 auto;text-align:center;}
.DivContentBodyContainersBoxLink{max-width:80px;min-height:30px;background-color:#f5821f;position:relative;left:80px;}
.DivContentBodyContainersBoxLink a{color:white;font-size:100%;text-decoration:none;}
.DivContentBodyContainersBoxLink a span{width:auto;max-height:24px;display:block;color:white;font-size:100%;text-align:center;}
.DivContentBodyContainersBoxLinkSpace{min-height:6px !important;max-height:6px !important;}
.DivBodyPush{max-height:60px;min-height:60px;}
.DivContentBodyCertification{width:auto;max-width:320px;min-height:80px;margin: 0 auto;}
.DivContentBodyCertificationTitle{width:auto;margin-bottom:15px;color:#f5821f;position:relative;}
.DivContentBodyCertificationTitleLine{width:100%;min-height:2px;max-height:2px;position:relative;top:2px;background-color:#211f5e;}
.DivContentBodyCertificationTitle h3{max-width:320px !important;color:#211f5e;position:relative;z-index:0;text-align:center;}
.DivContentBodyCertificationImages{max-width:320px !important;min-width:180px !important;min-height:40px;margin: 0 auto;}
.DivContentBodyCertificationHtml{max-width:88px;min-width:88px;max-height:31px;min-height:31px;float:left;position:relative;z-index:0;position:relative;left:6%;}
.DivContentBodyCertificationCss{max-width:88px;min-width:88px;max-height:31px;min-height:31px;float:left;position:relative;z-index:0;position:relative;left:9%;}
.DivContentBodyCertificationValidRobots{max-width:88px;min-width:88px;max-height:31px;min-height:31px;float:left;position:relative;z-index:0;position:relative;left:12%;}
.DivContentBodyContainersBoxBackground{border-top-style:solid;border-right-style: solid;border-bottom-style:none;border-left-style:solid;border-color:#192650;border-width:3px;}