.DivBodyLogin{min-height:290px;}
.DivContentBodyNotLoggedIn{width:100%;min-height:50px;margin: 0 auto;}
.DivContentBodyNotLoggedIn h2{position:relative;top: 5px;text-align:center;color:#c82100;}
.DivContentBodyLogin{width:320px;min-height:200px;height:auto;margin-top:10px;background-color:#f5f5f5;margin:0 auto;}
.DivContentBodyRight{width:100%;min-height:125px;height:auto;position:relative;top:15px;}
.DivContentBodyLeft{width:100%;min-height:70px;height:auto;position:relative;top:15px;}
.DivContentBodyLeft div{display:block !important;}
.DivContentBodyLeftSpace{width:0px; height:0px; display:none;}
.DivContentBodyContainerLogin{width:auto !important;display:inline-block;margin-left:20%;margin-top:3%;}
.DivContentBodyContainerLogin img {width:32px;height:32px;float:left;background-color:#ABA7A7;border:1px groove #ABA7A7;position:relative;right:1px;top:1px;}
.DivContentBodyContainerLogin input[type="text"]{width:78% !important;height:31px !important;position:relative;top:1px;padding-left:0px !important;margin-right:0px !important;}
.DivContentBodyContainerLogin input[type="password"]{width:78% !important;height:31px !important;position:relative;top:1px;padding-left:0px !important;margin-right:0px !important;}
.DivContentBodyContainerLogin a{position:relative;bottom:3px;font-size:100%;font-weight:bold;margin-left:15%;}
.DivContentBodyContainerLogin input[type="submit"]{margin-left:10%;}
.InputSubmitForgotPassword{position:relative;left:5%;}