.DivContentBodyContainerLabel label{top:5px !important;}
.DivContentBodyContainerLabelValue{width:60% !important;float:left;position:relative;top:6px;}
.DivContentBodyContainerLabel, .DivContentBodyContainerLabelBig {width: 39% !important;}
.DivContentBodyContainer input[type="text"], .DivContentBodyContainer input[type="password"] {width:58% !important;}