.DivContentBody{width:500px;min-height:190px;height:auto;margin:0 auto;overflow:auto;}
.DivContentBody form{background-color:#f2f2f2;}
.DivContentBodyContainer{width:500px !important;}
.DivContentBodyContainer input[type="text"]{width:200px !important;}
.DivContentBodyContainerLabel{width:150px !important;margin-left:10px !important;}
.DivContentBodySubmit{margin-left:160px !important;}
.DivContentBodyContainerCaptcha{width:500px !important;}
.DivContentBodyContainerCaptcha input[type="text"]{width:130px !important;}
.DivReturnMessageSuccess{margin-left:225px !important;}
.DivReturnMessageError{margin-left:225px !important;}
.DivReturnMessageSuccess{width:500px !important;margin: 0 auto !important;margin-top: 10px !important;margin-bottom: 10px !important;}
.DivReturnMessageError{width:500px !important;margin: 0 auto !important;margin-bottom: 10px !important;}
.DivReturnMessageWarning{width:500px !important;margin: 0 auto !important;margin-top: 10px !important;margin-bottom: 10px !important;}
