.DivContentBody{width:500px;min-height:260px;height:auto;margin:0 auto; margin-top:10px;}
.DivContentBody form{min-height:310px !important;background-color:#f2f2f2;}
.DivContentBodyContainer{width:500px;height:35px;position:relative;top:20px;}
.DivContentBodyContainerLabel{width:175px !important;margin-left:10px !important;}
.DivContentBodyContainerLabelBig{width:175px !important;margin-left:10px !important;}
.DivContentBodyContainerLabelValue{width:315px;height:25px;line-height:26px;font-weight:bold;font-size:14px;}
.DivContentBodyContainer input[type="text"]{width:200px !important;}
.DivContentBodyContainer input[type="password"]{width:200px !important;}
.DivContentBodySubmit{margin-left:185px !important;}
.DivReturnMessageSuccess{width:500px !important;margin: 0 auto !important;margin-top: 10px !important;margin-bottom: 10px !important;}
.DivReturnMessageError{width:500px !important;margin: 0 auto !important;margin-top: 10px !important;margin-bottom: 10px !important;}
.DivReturnMessageWarning{width:500px !important;margin: 0 auto !important;margin-top: 10px !important;margin-bottom: 10px !important;}