.DivContentBody{width:1000px;min-height:120px;height:auto;}
.DivContentBodyOptions{width:100%;height:115px;margin-top:-10px;}
.DivContentBodyOptionsBox{width:auto;height:auto;margin-left:0.5%;}
.DivContentBodySubmitOption{width:155px;height:30px;background-color:#f5821f;border:0;color:white;font-size:14px;margin-right:15px;}
.DivContentBodySubmitOption:hover{background-color:#ef4e22;}
.DivContentBodyContainer{width:700px !important;}
.DivContentBodyContainersBox{width:125px;height:95px;float:left;margin-right:5px;margin-left:5px;margin-top:5px;border:3px solid #211f5e;border-radius:10px;text-align:center;}
.DivContentBodyContainersBox input{position:relative; top:2px;}
.DivContentBodyContainersBoxIcon{margin-top:5px;}
.DivContentBodyContainerLabel, .DivContentBodyContainerLabelBig{width:250px !important;}
.SelectCorporation, .SelectDepartment, .SelectTypeService{color:black !important;}
.DivReturnMessageError{margin-left:0 !important;}
.DivReturnMessageSuccess{margin-left:0 !important;}
.DivReturnMessageWarning{margin-left:0 !important;}