.DivContentBody{width:1000px;min-height:120px;height:auto;}
.DivContentBodySecondTitle{width:100px;height:100px;margin-left:46%;margin-bottom:2px;}
.DivContentBodySecondTitleImage{position: relative;right:4px;bottom:2px;}
.DivContentBodySecondTitleLine{width:800px;height:3px;background-color:#f5821f;margin-bottom:10px;margin-left:10%}
.DivContentBodyOptions{width:100%;height:100%;max-height:280px; margin-top:-10px;}
.DivContentBodyOptionsBox{width:auto;max-width:700px;height:auto;min-height:240px; margin-left:20%;}
.DivContentBodySubmitOption{width:165px;height:30px;background-color:#f5821f;border:0;color:white;font-size:14px;margin-right:20px;}
.DivContentBodySubmitOption:hover{background-color:#ef4e22;}
.DivContentBodyContainersBox{width:125px;height:90px;float:left;margin-right:10px;margin-left:10px;margin-top:12px;border:3px solid #211f5e;border-radius:10px;text-align:center;}
.DivContentBodyContainersBox input{position:relative; top:2px;}
.DivContentBodyContainersBoxIcon{margin-top:5px;}