.DivContentBody form{min-height:190px;}
.DivContentBodyContainer{width:100%;height:60px;}
.DivContentBodyContainer input[type="text"]{width:62%;height:25px;line-height:26px;padding-left:3px;border:2px groove #F5F2F3;}
.DivContentBodyContainer input[type="password"]{width:62%;height:25px;line-height:26px;padding-left:3px;border:2px groove #F5F2F3;font-family:sans-serif;}
.DivContentBodyContainerTextArea{width:100%;height:220px;}
.DivContentBodyContainerTextArea textarea{width:62%;height:200px;float:left;line-height:26px;padding-left:3px;border:2px groove #F5F2F3;}
.DivContentBodyContainerLabel{width:35%;height:35px;float:left;}
.DivContentBodyContainerLabel label{font-size:82%;font-weight:bold;position:relative;top:8px;}
.DivContentBodyContainerLabelBig{width:35%;height:50px;float:left;}
.DivContentBodyContainerLabelBig label{font-size:11px;font-weight:bold;}
.DivContentBodyContainerLabelExtraWidth{width:35%;height:50px;float:left;}
.DivContentBodyContainerLabelExtraWidth label{font-size:82%;font-weight:bold;}
.DivContentBodyContainerLabelSided label{font-weight:bold;}
.DivContentBodyContainerLabelTip{width:100%;height:45px;}
.DivContentBodyContainerLabelTip label{font-size:8px;font-weight:normal;}
/* Google Maps */
.DivContentBodyContainerMaps{height:100px;margin-top:10px;}
.DivContentBodyContainerLabelMapsCountry, .DivContentBodyContainerLabelMapsEstate{min-width:100%;height:55px;float:left;}
.DivContentBodyContainerGoogleMaps{width:100%;height:200px;margin-top:5px;}
.GoogleMapsSearch {width:35%;background-color:#fff;font-size:15px;font-weight:300;margin-left:12px;padding:0 11px 0 13px;}
.GoogleMapsSearch:focus {border-color:#4d90fe;}
.GoogleMapsSearchControls {width:35%;height:28px;margin-top:10px;border:1px solid transparent;border-radius:2px 0 0 2px; 
                           outline:none;box-shadow:0 2px 6px rgba(0, 0, 0, 0.3);}
.GoogleMapsSubmit{width:25%;height:30px;margin-right:25%;margin-top:10px;}
#type-selector {color:#fff;background-color:#4d90fe;padding:5px 11px 0px 11px;}
#type-selector label {font-size: 13px;font-weight: 300;}
#target {width:345px;}
/* Google Maps */
/* Submits */
.DivContentBodySubmitBigger{width:165px;min-height:40px;white-space:normal;vertical-align:top;max-height:30px;background-color:#f5821f;border:0;color:white;font-size:90%;font-weight:bolder;margin-top:10px;}
.DivContentBodySubmitBigger:hover{background-color:#ef4e22;}
/*End of Submits */
.DivContentBodyContainerValue{width:60%;height:35px;float:left;}
.DivContentBodyContainerValueContent{font-size:100%;}
.DivContentBodyContainer select{width:64%;height:26px;font-size:100%;font-weight:600;border:2px groove #F5F2F3;color:graytext;background-color:white;}
.DivContentBodySubmit {max-width:120px;min-width:120px;min-height:30px;max-height:30px;background-color:#f5821f;border:0;color:white;font-size:100%;margin-top:5%;clear:both;}
.DivContentBodySubmit:hover{background-color:#ef4e22;}
.DivContentBodyContainerSubmit{margin-bottom:10px;}
.DivContentBodyContainerSubmitImage{width:26px;height:35px;}
.DivContentBodyContainerCaptcha{width:100%;height:35px;}
.DivContentBodyContainerCaptcha input[type="text"]{width:25%;height:25px;float:left;line-height:26px;padding-left:3px;border:2px groove #F5F2F3;}
.DivContentBodyContainerCaptchaImage{width:37%;height:100%;}
.DivReturnMessageImage{width:18% !important;height:auto !important;min-height:80px !important;float:right}
.DivReturnMessageImage div{width:48px !important;height:auto !important;position:relative;top:15px;left:5px;}
.DivReturnMessageSuccess{width:100%;max-width:320px;height:auto;min-height:80px;background-color:#8DEE6D;margin:0 auto;margin-bottom:20px;}
.DivReturnMessageSuccess label{width:80%;max-width:80%;height:auto;position:relative;}
.DivReturnMessageError{width:100%;max-width:320px;height:auto;min-height:80px;background-color:#FFC1C1;margin:0 auto;margin-bottom:20px;}
.DivReturnMessageError label{width:80%;max-width:80%;height:auto;position:relative;}
.DivReturnMessageWarning{width:100%;max-width:320px;height:auto;min-height:80px;background-color:#faebcc;margin:0 auto;margin-bottom:20px;}
.DivReturnMessageWarning label{width:80%;max-width:80%;height:auto;position:relative;}
.DivReturnMessageWarning a{width:auto;height:auto;font-weight:bold;}
.SelectBirthDateDay{width:19%;height:30px !important;}
.SelectBirthDateMonth{width:19%;height:30px !important;}
.SelectBirthDateYear{width:20%;height:30px !important;}

