.DivBody{max-width:320px !important;}
.DivFooterContent{max-width:320px !important;}
.DivContentBody{width:auto;height:auto;}
.DivContentBody form{height:auto; min-height:0px;}
.DivContentBodyContainer{width:auto;margin-top:20px;height:auto;}
.DivContentBodyContainer input[type="text"]{width:180px;height:25px;margin-right:10px;line-height:26px;padding-left:0px;}
.DivContentBodyContainer input[type="radio"]{width:20px;height:15px;float:left;position:relative;top:8px;}
.DivContentBodyContainerSelect{width:100px;height:40px;}
.DivContentBodyContainerSelect select{width:90px;min-height:30px;font-size:100%;font-weight:bold;margin-top:5px;color:black;}
.DivContentBodyContainerSelectLarger{width:110px;}
.DivContentBodyContainerSelectLarger select{width:100px;}
.DivContentBodyContainerLabel{width:115px;min-height:30px;float:none;height:auto;}
.DivContentBodyContainerLabelSmall{width:70px;min-height:30px;}
.DivContentBodyContainerLabelHost{width:auto;min-height:30px;}
.DivContentBodyContainerLabelIp{width:auto;min-height:30px;}
.DivContentBodyContainerLabel label, .DivContentBodyContainerLabelSmall label, .DivContentBodyContainerLabelHost label, .DivContentBodyContainerLabelIp label{position:relative;top:7px;font-size:100%;font-weight:bold;}
.DivContentBodySubmit {width:120px;min-height:30px;background-color:#f5821f;border:0;color:white;font-size:100%;margin-top:0%;}
.DivContentBodySubmit:hover{background-color:#ef4e22;}
.DivReturnMessageSuccess{width:auto;max-width:306px;height:auto;min-height:80px;margin-top:10px;background-color:#f5f5f5;border-left:1px solid #e8e8e8;border-left-width:6px;margin-bottom:0px !important;margin-right:8px !important;}
.DivReturnMessageSuccess div{max-width:280px;width:280px;height:auto;word-wrap:break-word;color:#000;}
.DivReturnMessageSuccess label{width:auto;height:auto;position:relative;left:10px;top:8px;}
.DivReturnMessageSuccess label div{color:#000;}
.DivReturnMessageSuccessBottom{width:auto;max-width:306px;min-height:16px;max-height:16px;margin-bottom:10px;background-color:#f5f5f5;border-left:1px solid #e8e8e8;border-left-width:6px;}
.DivReturnMessageError{width:auto;max-width:306px;height:auto;min-height:80px;margin-top:10px;background-color:#FFC1C1;border-color:#c82100;color:#c82100;}
.DivReturnMessageError div{max-width:280px;width:280px;height:auto;word-wrap:break-word;}
.DivReturnMessageErrorBottom{width:auto;max-width:306px;min-height:16px;max-height:16px;margin-bottom:10px;background-color:#FFC1C1;}
.DivReturnMessageError label{width:auto;height:auto;position:relative;left:10px;top:8px;}
.InputSmall{width:40px !important;}
.GetDnsRecordsTable{overflow-x: auto;display: block;}
.GetDnsRecordsTableTdType{width:auto;}
.GetDnsRecordsTableTdPriority{width:auto;}
.GetDnsRecordsTableTdTarget{width:auto;}
.GetDnsRecordsTableTdIp{width:auto;}
.GetDnsRecordsTableTdTtl{width:auto;}