.TableTypeTicket{width:auto;height:auto;margin-top:10px;margin-bottom:20px;white-space:nowrap;overflow-x: scroll;}
.TableTypeTicket th, .TableTypeTicket th div{width:auto;color:black;font-size:14px;text-align:center;border-bottom:3px solid #192650;border:2px solid #192650;}
.TableTypeTicket th{width:auto;height:35px;}
.TableTypeTicket th div{width:auto;height:26px;border:none;position:relative;top:6px;}
.TableTypeTicketInputLeft{position:relative;right:5px;float:right;}
.TableTypeTicketInputRight{position:relative;left:5px;}
.TableTypeTicketThLeft{float:left;}
.TableTypeTicketThRight{float:right;position:relative;right:12px;}
.TableTypeTicket td{width:auto;height:26px;color:black;font-size:14px;text-align:left;border:2px solid #192650;}
.TableTypeTicketThId{width:auto!important;}
.TableTypeTicketThId input{outline-width:0;border:none;outline:none;border-radius:0;background:none;width:auto;text-decoration:underline;color:#0000EE;}
.TableTypeTicketThDescription{width:auto!important;}
.TableTypeTicketThRegisterDate{width:auto!important;}
#FormTicketList {overflow-x:scroll;}