.DivBody{max-width:320px !important;}
.DivFooterContent{max-width:320px !important;}
.DivContentBody{width:auto;height:auto;margin-bottom:10px;}
.DivContentBodyBox{width:auto;height:auto;min-height:80px;}
.DivContentBodyBoxTitle{width:auto;height:20px;margin-top:10px;}
.DivContentBodyBoxTitle h3{color:#f5821f}
.DivContentBodyBoxText{width:auto;height:auto;}