.DivContentBody{width:100%;min-height:500px;height:auto;}
.DivContentBodySecondTitle{width:100px;height:130px;margin-bottom:2px;}
.DivContentBodySecondTitleImage{position: relative;right:4px;bottom:2px;}
.DivContentBodySecondTitleLine{width:800px;height:3px;background-color:#f5821f;margin-bottom:10px;margin-left:10%}
.DivContentBodyContainers{width:910px;height:auto;position: relative;left:5%;}
.DivContentBodyContainersBox{width:150px;height:104px;float:left;margin-right:15px;border:3px solid #f5821f;border-radius:10px;text-align:center;margin-bottom:10px;}
.DivContentBodyContainersBoxIcon{width:50px;height:50px;position:relative;left:50px;margin-top:8px;margin-bottom:2px;}
.DivContentBodyContainersBoxIcon img{background-color:#ffffff;}
.DivContentBodyContainersBoxText{width:150px;height:30px;}
.DivContentBodyOptions{width:100%;height:50px;margin-top:12px;}
.DivContentBodySectionTitle{width:900px;height:3px;margin-top:35px;position:relative;left:6.1%;background-color:#f4780b;}
.DivContentBodyAdminIcon{width:48px;height:48px;position:relative;left:50%;top:25px;}