.TableTypeUser{width:auto;height:auto;margin-top:10px;margin-bottom:20px;white-space:nowrap;margin-left:23%}
.TableTypeUser th, .TableTypeUser th div{width:150px;color:black;font-size:14px;text-align:center;border-bottom:3px solid #192650;border:2px solid #192650;}
.TableTypeUser th{width:266px;height:35px;}
.TableTypeUser th div{width:110px;height:26px;border:none;position:relative;top:6px;}
.TableTypeUserInputLeft{position:relative;right:5px;}
.TableTypeUserInputRight{position:relative;left:5px;}
.TableTypeUserThLeft{float:left;}
.TableTypeUserThRight{float:right;position:relative;right:12px;}
.TableTypeUser td{width:150px;height:26px;color:black;font-size:14px;text-align:left;border:2px solid #192650;}
.TableTypeUserThId{width:150px!important;}
.TableTypeUserThId input{outline-width:0;border:none;outline:none;border-radius:0;background:none;width:auto;text-decoration:underline;color:#0000EE;}
.TableTypeUserThDescription{width:250px!important;}
.TableTypeUserThRegisterDate{width:150px!important;}