.TabsBorder{background-color:#43435d;width:6px;height:auto;float:left;position:relative;left:4px;z-index:1;}
.ui-tabs{margin-bottom:10px;}
.ui-tabs-nav{border-left:solid;border-left-color:#43435d;border-left-width:6px;}
.ui-tabs-vertical{width:auto;height:auto;}
.ui-tabs .ui-tabs-nav{margin:0;}
.ui-tabs-vertical .ui-tabs-nav {width:314px;clear:both;}
.ui-tabs .ui-tabs-panel{display:block;background:none}
.ui-tabs .ui-tabs-nav li{list-style:none;white-space:nowrap;}
.ui-tabs-vertical .ui-tabs-nav li {clear:left;width:auto;border-bottom:3px #FFF solid;}
.ui-tabs-vertical .ui-tabs-nav li a {width:auto;display:block;color:#FFFFFF;}
.ui-tabs-vertical .ui-tabs-panel {width:auto;height:auto;min-height:80px;margin-top:10px;}
.ui-widget-content{color:#707092}
.ui-tabs .ui-tabs-nav .ui-tabs-anchor{width:300px;max-height:32px;min-height:32px;text-decoration:none}
.ui-state-active,.ui-widget-content .ui-state-active,.ui-widget-header .ui-state-active{background:#43435d 50% 50% repeat-x;color:#CCC}
.ui-state-default,.ui-widget-content .ui-state-default,.ui-widget-header .ui-state-default{background:#707092 50% 50% repeat-x;}
.ui-state-default:hover{background:#43435d 50% 50% repeat-x;}
.ui-tabs-vertical .ui-tabs-nav li a span{width:240px;color:#FFFFFF;position:relative;left:5px;top:8px;font-size:100%;}
.TabsWhiteSpace{width:300px;height:3px;}
.HiddenTab{display:none !important;}
.NotActive {cursor:not-allowed;}
.NotActive:hover {cursor:not-allowed;}
.NoBorder{border-bottom:none !important;border-bottom-width:0px !important;}