*{margin:0;padding:0;}
html,body{width:auto;margin:0px;margin-bottom:0px;margin-left:0px;margin-right:0px;margin-top:0px;padding:0px;letter-spacing:0;text-shadow:0 1px 0 rgba(255,255,255,.8);font-size:100%;border:none;}
html,body{height:100%;background-color:#FFF;}
img{border:0px;}
table{border-collapse:separate;border-spacing:0;}
textarea,label,p,select, i{font-family:sans-serif;font-size:100%;padding:0px;letter-spacing:0px;color:#000;font-size:100%;font-weight:normal;font-style:normal;line-height:normal;}
h1{font-family:sans-serif;font-size:100%;padding:0px;letter-spacing:0;color:#000;font-weight:bold;font-style:normal;line-height:normal;}
h2{font-family:sans-serif;font-size:100%;padding:0px;letter-spacing:0;color:#000;font-weight:bold;font-style:normal;line-height:normal;}
h3{font-family:sans-serif;font-size:100%;padding:0px;letter-spacing:0;color:#FFFFFF}
a{font-family:sans-serif;font-size:100%;padding:0px;letter-spacing:0;color:#000;}
input{font-family:sans-serif;font-size:12px;padding:0px;letter-spacing:0;color:#000;}
div{font-family:sans-serif;font-size:96%;padding:0px;letter-spacing:0;color:#FFFFFF;}
span{font-family:sans-serif;font-size:100%;padding:0px;letter-spacing:0;color:#000;}
textarea{resize:none;}
.Wrapper {min-height:100%;height:auto !important;height:100%;margin:0 auto -50px;}
.DivHidden{display:none;width:0px;height:0px;}
.DivBody{width:auto;height:auto;background-color:#FFFFFF;margin:0 auto;}
.DivClearFloat{width:0px;height:0px;clear:both;}
.DivDisplayNone{display:none;}
/* Generic Page Size */
.DivContentBody{max-width:320px;min-height:200px;margin:0 auto;}
.DivPageDebug{height:auto;position:static;top:15px;left:0;;width:100%;margin:0 auto;}
.DivPageDebugContent{height:auto;position:static;top:0;left:0;;width:100%;color:black;min-height:18px;}
.DivPageDebugQuery{height:auto;position:static;top:45px;left:0;width:100%;color:black;min-height:18px;}
.DivPageLoadTime{height:45px;position:fixed;top:92.5%;left:83%;width:100%;color:orangered;font-size:16px;}
.Hidden{display:none;}
.InputBeforeText{color:#CCC;}
.InputAfterText{color:#000000;}
.InputAlertText{border-color:#c82100 !important;border-style:solid !important;border-width:2px !important;}
.RequiredField{color:#F00;}
.SubmitEnabled {background-color:#f5821f !important;}
.SubmitEnabled:hover{background-color:#ef4e22 !important;}
.SubmitDisabled{background-color:#cccccc !important;}
.SubmitDisabled:hover{background-color:#cccccc !important;}
.SwitchToggle{position:relative;display:inline-block;width:54px;height:24px;top:-24px!important;margin-left:15px;}
.SwitchToggle input{display:none;}
.SwitchToggleSlider{width:54px;height:22px;position:relative;cursor:pointer;top:3px;left:15px;right:0;bottom:0;background-color:#cccccc;transition:.4s;}
.SwitchToggleSlider:before{position: absolute;content:"";height:18px;width:18px;left:4px;bottom:2px;background-color:white;transition:.6s;}
.SwitchToggleSlider:after{position: absolute;content:"";height:18px;width:18px;left:4px;bottom:2px;background-color:white;transition:.6s;}
.SwitchToggleSlider.round{border-radius:18px;}
.SwitchToggleSlider.round:before{border-radius:60%;}
.SwitchToggleSlider.round:after{border-radius:60%;}
.SwitchToggleSliderChange{background-color:#ef4e22;}
.SwitchToggleSliderChange{box-shadow: 0 0 1px #ef4e22;}
.SwitchToggleSliderChange:before{transform: translateX(27px);}
.SwitchToggleSliderChange:after{transform: translateX(27px);}