.DivHeader{width:auto;height:87px;background-color:#192650;background-repeat:repeat-x;}
.DivHeaderContainer{width:100%;max-width:1000px;min-width:765px;height:87px;margin:0 auto;}
.DivHeaderContainerLogo{width:320px;height:40px;position:relative;top:25px;float:left;margin-left:25px;}
.DivHeaderContainerLogo a {width:320px;height:40px;}
.DivHeaderContainerMenu{min-width:80px;max-width:600px;width:auto;height:87px;float:right;}
.DivHeaderContainerMenu a{width:auto;height:67px;text-align:center;letter-spacing:0;text-decoration:none;color:#FFFFFF;font-size:14px;}
.DivHeaderContainerMenu span{width:auto;height:52px;text-align:center;display:block;font-size:14px;color:#FFFFFF;font-weight:bold;}
.HeaderSpace{width:auto;height:25px !important;}
.DivHeaderContainerMenuLink{width:auto;height:67px;max-width:140px;margin:0 auto;}
.DivHeaderContainerMenuLinkSubContainer{width:auto;height:35px;z-index:100;position:relative;top:12px;background-color:#43435d;border-bottom:2px solid #7a7a9f;border-left:2px solid #7a7a9f;border-right:2px solid #7a7a9f;}
.DivHeaderContainerMenuLinkSubContainer:hover{background-color:#192650;}
.DivHeaderContainerMenuLinkSubContainer a{width:auto;height:35px;}
.DivHeaderContainerMenuLinkSubContainer a span{width:auto;height:35px;font-size:12px;}
.DivHeaderContainerMenuPageCheck{width:120px;height:77px;float:left;position:relative;top:10px;}
.DivHeaderContainerMenuPageCheckHover{width:120px;height:77px;float:left;position:relative;top:10px;background-color:#43435d;}
.DivHeaderContainerMenuPageCheckTop{width:120px;height:10px;margin-top:-10px;}
.DivHeaderContainerMenuPageCheckTopOrange{width:120px;height:10px;margin-top:-10px;background-color:#ef4e22;}
.DivHeaderContainerMenuPageContact{width:110px;height:77px;float:left;position:relative;top:10px;}
.DivHeaderContainerMenuPageContactHover{width:110px;height:77px;float:left;position:relative;top:10px;background-color:#43435d;border-bottom:2px solid #7a7a9f;z-index:100;}
.DivHeaderContainerMenuPageContactTop{width:110px;height:10px;margin-top:-10px;}
.DivHeaderContainerMenuPageContactTopOrange{width:110px;height:10px;margin-top:-10px;background-color:#ef4e22;}
.DivHeaderContainerMenuPageDiagnosticTools{width:120px;height:77px;float:left;position:relative;top:10px;}
.DivHeaderContainerMenuPageDiagnosticToolsHover{width:120px;height:77px;float:left;position:relative;top:10px;background-color:#43435d;border-bottom:2px solid #7a7a9f;z-index:100;}
.DivHeaderContainerMenuPageDiagnosticToolsTop{width:120px;height:10px;margin-top:-10px;}
.DivHeaderContainerMenuPageDiagnosticToolsTopOrange{width:120px;height:10px;margin-top:-10px;background-color:#ef4e22;}
.DivHeaderContainerMenuPageAbout{width:120px;height:77px;float:left;position:relative;top:10px;}
.DivHeaderContainerMenuPageAboutHover{width:120px;height:77px;float:left;position:relative;top:10px;background-color:#43435d;}
.DivHeaderContainerMenuPageAboutTop{width:120px;height:10px;margin-top:-10px;}
.DivHeaderContainerMenuPageAboutTopOrange{width:120px;height:10px;margin-top:-10px;background-color:#ef4e22;}
.DivHeaderContainerMenuPageGet{width:140px;height:77px;float:left;position:relative;top:10px;}
.DivHeaderContainerMenuPageGetHover{width:140px;height:77px;float:left;position:relative;top:10px;background-color:#43435d;}
.DivHeaderContainerMenuPageGetTop{width:140px;height:10px;margin-top:-10px;}
.DivHeaderContainerMenuPageGetTopOrange{width:140px;height:10px;margin-top:-10px;background-color:#ef4e22;}
.DivHeaderContainerMenuPageService{width:140px;height:77px;float:left;position:relative;top:10px;}
.DivHeaderContainerMenuPageServiceHover{width:140px;height:77px;float:left;position:relative;top:10px;background-color:#43435d;border-bottom:2px solid #7a7a9f;z-index:100;}
.DivHeaderContainerMenuPageServiceTop{width:140px;height:10px;margin-top:-10px;}
.DivHeaderContainerMenuPageServiceTopOrange{width:140px;height:10px;margin-top:-10px;background-color:#ef4e22;}
.DivHeaderDivision{width:auto;height:30px;background-color:#061437;background-repeat:repeat-x;}
.DivHeaderDivisionContainer{width:100%;max-width:1000px;min-width:800px;height:30px;margin:0 auto;}
.DivHeaderDivisionContainerInfos{min-width:300px;height:30px;margin:0 auto;display:inline-block;float:left;}
.DivHeaderDivisionContainerInfo{width:auto;height:30px;float:left;}
.DivHeaderDivisionContainerInfo label{color:white;position:relative;top:8px;}
.DivHeaderDivisionContainerLogin{width:380px;height:30px;float:right;text-align:center;}
.DivHeaderDivisionContainerLoginElements{min-width:100px;height:30px;margin:0 auto;display:inline-block;float:right;margin-right:10px;}
.DivHeaderDivisionContainerLoginElement{width:auto;height:30px;float:left;}
.DivHeaderDivisionContainerLoginElement:hover{font-weight:bolder;}
.DivHeaderDivisionContainerLoginElement a{text-decoration:underline;color:#FFFFFF;font-size:12px;position:relative;top:8px;}
.DivHeaderDivisionContainerLoginElement span, .DivHeaderDivisionContainerLoginElement h2{font-size:12px;color:#FFFFFF;font-weight:bold;}
.DivHeaderDivisionContainerLoginElement span:hover, .DivHeaderDivisionContainerLoginElement h2:hover{color:#e6e6e6;}
.DivHeaderDivisionContainerLoginElement img{width:26px;height:26px;position:relative;bottom:6px;right:3px;}
.DivHeaderDivisionContainerLoginSeparator{width:5px;height:30px;float:left;margin-left:10px;margin-right:10px;}
.DivHeaderDivisionContainerLoginSeparator label {color:#FFFFFF;font-size:14px;font-weight:bold;position:relative;top:5px;}
.DivHeaderDivisionContainerLanguage{width:80px;height:30px;float:right;}
.DivHeaderDivisionContainerLanguage div{width:36px;float:right;position:relative;left:5px;top:2px;}
.DivHeaderPageTitle{width:auto;height:50px;background-color:#FFFFFF;background-repeat:repeat-x;}
.DivHeaderPageTitleContent{width:1000px;height:50px;margin:0 auto;}
.DivHeaderPageTitleContentText{width:auto;height:20px;position:relative;top:15px;}
.DivHeaderPageTitleContentText h1{height:20px;color:#211f5e;font-family:sans-serif;font-size:20px;font-weight:bold;text-decoration:none;text-shadow:none;}
.DivHeaderPageTitleContentLine{width:100%;height:3px;background-color:#192650;position:relative;top:15px;}
#PageNotification{float:left;}
#PageNotification span{position:relative;top:-13px;}