.DivPush{height:50px;}
.DivFooter{width:auto;height:50px;background-color:#e9e9eb;}
.DivFooterContent{width:1000px;height:50px;margin:0 auto;}
.DivFooterContentDualDevelopers{width:333px;height:50px;position:relative;float:left;}
.DivFooterContentDualDevelopers img{float:left;position:relative;top:10px;}
.DivFooterContentDualDevelopersText{width:245px;height:30px;float:left;position:relative;top:15px;left:15px;}
.DivFooterContentDualDevelopersText label{font-weight:bold;}
.DivFooterContentDualDevelopersText a{color:#06C;text-decoration:none;font-weight:bold;}
.DivFooterContentCopyright{width:333px;height:50px;float:left;position: relative;left:35%;}
.DivFooterContentCopyright label{font-size:12px;font-weight:bold;position:relative;top:20px;left:120px;}
.DivFooterContentSocial{width:333px;height:50px;float:left;}
.DivFooterContentSocialImage{width:55px;height:36px;float:left;position:relative;top:10px;left:145px;}
.DivFooterContentSocialImage img{position:relative;left:7px;}